.about-product {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.about-product__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 36px;
  line-height: 1.6;
  font-weight: normal;
}

.about-product__list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-product__item {
  width: 280px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.3;
  color: @content-color;
  font-family: @secondary-font;
  word-break: break-word;

  &::before {
    content: "";
    display: block;
    padding: 28px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }

  &--leaf {
    &::before {
      background: url("../../img/advantage-leaf@1x.png") center;
      background-color: @icon-background;
    }
  }

  &--clock {
    &::before {
      background: url("../../img/advantage-clock@1x.png") center;
      background-color: @icon-background;
    }
  }

  &--powder {
    &::before {
      background: url("../../img/advantage-powder@1x.png") center;
      background-color: @icon-background;
    }
  }

  &--dining {
    &::before {
      background: url("../../img/advantage-dining@1x.png") center;
      background-color: @icon-background;
    }
  }
}

@media (min-width: @tablet-width) {
  .about-product {
    width: 768px;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border-bottom: 1px solid @secondary-background;
  }

  .about-product__title {
    font-size: 60px;
    margin-bottom: 55px;
  }

  .about-product__list {
    width: 640px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: section;
  }

  .about-product__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 230px;
    width: 254px;
    margin-bottom: 85px;
    font-size: 16px;
    line-height: 1.5;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 32px;
      background-repeat: no-repeat;
    }

    &::after {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      bottom: -80px;
      right: 5px;
      font-family: @main-font;
      font-size: 281px;
      color: @secondary-background;
      z-index: -1;
    }

    &--leaf {
      &::after {
        right: 22px;
      }
    }

    &--dining {
      margin-bottom: 58px;
    }

    &--clock {
      margin-bottom: 58px;
    }
  }

  .about-product__text {
    width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .about-product {
    width: 1300px;
    padding: 0 20px;
    flex-direction: column;
    border: none;
  }

  .about-product__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 37px;

    &:last-child {
      margin-right: 0;
    }
  }

  .about-product__list {
    width: 100%;
    justify-content: flex-start;
  }
}
