.button {
  display: block;
  padding: 14px 73px;
  background-color: @btn-default-background;
  color: @secondary-color;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
