.catalog {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 12px;
  border-top: 1px solid @border-color;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__item {
  border-top: 1px solid @border-color;
}

.catalog__title {
  padding: 15px 0 30px 20px;
  margin: 0;
  font-size: 36px;
  line-height: 1.6;
  font-weight: normal;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0 30px;
    border: none;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }

  .catalog__title {
    padding: 8px 0 75px;
    font-size: 60px;
    line-height: 1;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 325px;
    min-height: 431px;
    margin: 0 58px 48px 0;
    border: none;
    background: linear-gradient(to bottom, @main-background 17%, @secondary-background 17%);

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      justify-content: flex-start;
      background: @main-background;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &--sm {
      padding-top: 45px;

      .product__title {
        padding-top: 38px;
      }
    }

    &--big {
      padding-top: 10px;

      .product__title {
        padding-top: 37px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1300px;
    padding: 0 20px;
    margin-bottom: 12px;
    border: none;
  }

  .catalog__title {
    margin-bottom: 9px;
    padding-top: 25px;
    font-size: 60px;
    line-height: 1;
  }

  .catalog__item {
    width: 245px;
    min-height: 475px;
    padding-top: 0;
    margin: 0 80px 60px 0;
    background: linear-gradient(to bottom, @main-background 16%, @secondary-background 16%);

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &--sm {
      padding-top: 36px;

      .product__title {
        padding-top: 34px;
      }
    }
  }
}
