.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__item {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
}

.catalog__title {
  padding-top: 30px;
  padding-left: 20px;
  margin: 0;
  font-size: 36px;
  line-height: 1.6;
  font-weight: normal;
}
