.contacts__row {
  display: flex;
  padding: 30px 20px 40px;
  margin: 0 auto;
  text-align: left;
}

.contacts__map-wrap {
  margin-bottom: 30px;
  background: url("../../img/bg-map-mobile@1x.png") no-repeat center;
}

.contacts__row--index {
  background-color: #ffffff;
}

.contacts__offer {
  font-size: 16px;
  line-height: 1.2;
}

.contacts__address {
  font-family: @secondary-font;
  font-size: 14px;
  line-height: 1.4;
}
