.contacts__row {
  padding: 30px 20px 40px;
  margin: 0 auto;
}

.contacts__map-wrap {
  margin-bottom: 30px;
  background: url("../../img/bg-map-mobile@1x.png") no-repeat center;
}

.contacts__row--index {
  background-color: #ffffff;
}
