.copyright {
  width: 285px;
  margin: 0 auto;
}

.copyright__logo-img {
  width: 27px;
  height: 34px;
  fill: #666666;
}

.copyright__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.copyright__logo:hover .copyright__logo-img {
  fill: @social-icon-hover;
}

.copyright__logo:active {
  opacity: 0.3;
}

.copyright__logo-title {
  width: 125px;
  font-family: @secondary-font;
  font-size: 16px;
  line-height: 1;
  color: @content-color;
  word-break: break-word;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: auto;
  }

  .copyright__logo {
    width: 163px;
  }

  .copyright__logo-img {
    width: 37px;
    height: 37px;
    fill: #666666;
  }
}
