.example {
  padding-top: 20px;
  padding-bottom: 35px;
  background-color: @secondary-background;
}

.example__container {
  width: 320px;
  margin: 0 auto;
}

.example__title {
  width: 280px;
  max-width: 1300px;
  margin: 0 auto 25px;
  font-size: 36px;
  line-height: 1.6;
  font-weight: normal;
}

.example__description {
  padding: 0 21px 12px 20px;
  font-family: @secondary-font;
  font-size: 14px;
  line-height: 1.3;
  color: @content-color;
}

.example__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.example__info {
  position: relative;
  padding: 12px;
  margin-bottom: 20px;
  width: 124px;
  min-height: 55px;
  border: 1px solid #cdcdcd;
  text-align: center;
  border-radius: 5px;

  &:first-child {
    margin-right: 32px;
  }
}

.example__num {
  margin: auto;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.example__caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: 0 auto;
  width: 82px;
  font-size: 12px;
  line-height: 1;
  font-family: @secondary-font;
  background-color: @secondary-background;
}

.example__price {
  text-transform: uppercase;
  word-break: break-word;
}

@media (min-width: @tablet-width) {
  .example {
    padding-top: 40px;
    padding-bottom: 0;
    background-color: #ffffff;
  }

  .example__container {
    width: 765px;
    margin: 0 auto;
    padding: 0 31px 235px 30px;
  }

  .example__title {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px 50px 0;
    font-size: 60px;
    line-height: 1;
  }

  .example__description {
    padding: 0 2px 36px 0;
    font-size: 16px;
    font-family: @secondary-font;
    line-height: 1.5;
  }

  .example__data {
    justify-content: flex-start;
  }

  .example__info {
    padding-top: 18px;
    width: 162px;
    min-height: 72px;

    &:first-child {
      margin-right: 40px;
    }
  }

  .example__num {
    font-size: 30px;
    line-height: 1.23;
  }

  .example__caption {
    width: 130px;
    left: 0;
    top: 62px;
    font-size: 14px;
    line-height: 1.23;
    background-color: @main-background;
  }

  .example__price {
    margin-top: 10px;
    padding-left: 0;
    text-align: right;
    width: 180px;
    font-size: 20px;
    line-height: 1.4;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .example {
    margin: 0 auto;
    padding-top: 0;
    background: linear-gradient(to bottom, white 0%, white 180px, #f2f2f2 180px, #f2f2f2 100%);
    display: flex;
  }

  .example__wrap {
    display: flex;
    width: 1300px;
    margin: 0 auto;
  }

  .example__container {
    width: 568px;
    background: linear-gradient(#ffffff 0%, #ffffff 180px, #f2f2f2 180px, #f2f2f2 100%);
    padding: 0 20px 10px 12px;
  }

  .example__title {
    padding: 45px 0 129px;
  }

  .example__description {
    width: 435px;
    padding-bottom: 50px;
  }

  .example__price {
    width: 327px;
    display: flex;
    text-align: left;
    margin-left: 0;
    justify-content: space-between;
  }

  .example__info {
    margin-bottom: 46px;
  }

  .example__caption {
    background-color: #f2f2f2;
  }
}
