.intro__title-wrap {
  margin-bottom: -140px;
  background: url("../../img/index-background-mobile@1x.jpg") no-repeat center;
  background-size: 320px 305px;
  background-color: @intro-background;
  color: @secondary-color;
  text-align: center;
}

.intro__title {
  width: 280px;
  margin: 0;
  padding-top: 30px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
}

.intro__subtitle {
  padding-top: 5px;
  padding-bottom: 135px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.intro__button {
  margin: 0 auto;
}
