.intro {
  position: relative;
  padding-top: 30px;
  margin-bottom: 22px;
  text-align: center;
  color: @secondary-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 305px;
    background-image: url("../../img/index-background-mobile@1x.jpg");
    background-color: #65a93c;
    background-size: 320px auto;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/index-background-mobile@2x.jpg");
    }
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
}

.intro__subtitle {
  margin: 0;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .intro {
    min-height: 800px;
    padding-top: 10px;
    color: @main-color;
    text-align: left;

    &::before {
      background: none;
    }
  }

  .intro__title {
    width: 570px;
    margin: 0;
    margin-bottom: 40px;
    padding-left: 86px;
    font-size: 60px;
    line-height: 1;
  }

  .intro__subtitle {
    width: 570px;
    padding-left: 86px;
    font-size: 20px;
    margin-bottom: 48px;
  }

  .intro__img {
    position: absolute;
    top: 200px;
    left: 30px;
    z-index: -1;
  }

  .intro__button {
    position: relative;
    font-size: 20px;
    line-height: 1;
    width: 245px;
    margin: 0;
    margin-left: 86px;
    padding: 15px 26px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    position: static;
    min-height: 590px;
    padding-top: 62px;
    padding-left: 30px;

    &::before {
      content: "";
      position: absolute;
      top: -160px;
      left: 48%;
      width: 52%;
      min-height: 855px;
      background-image: url("../../img/index-background-desktop@1x.jpg");
      background-color: @intro-background;
      background-repeat: no-repeat;
      background-position: left 158px;
      background-size: 720px 696px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../../img/index-background-desktop@2x.jpg");
      }
    }

    .container {
      display: flex;
      flex-direction: column;
    }
  }

  .intro__title {
    width: 480px;
    padding-left: 30px;
    padding-right: 10px;
  }

  .intro__subtitle {
    width: 480px;
    padding-left: 30px;
    padding-right: 10px;
    margin-bottom: 52px;
  }

  .intro__img {
    top: -83px;
    left: 440px;
  }

  .intro__button {
    margin-left: 30px;
  }
}
