
.intro__container {
  background: #63a73a url("../../img/index-background-mobile@1x.jpg") no-repeat;
  color: @secondary-color;
}

.intro__title {
  margin: 0;
  padding-top: 30px;
  font-size: 36px;
}

.intro__subtitle {
  padding-top: 20px;
  padding-bottom: 167px;
  font-size: 14px;
}
