.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.main-nav__link {
  display: block;
  padding: 24px 70px;
  font-size: 20px;
  font-weight: 500;
  color: @main-color;
  border-top: 1px solid #f2f2f2;
  text-decoration: none;
}
