.offer {
  padding-top: 65px;
  padding-bottom: 43px;
  padding-left: 60px;
  padding-right: 60px;
  background: url("../../img/gift-photo-mobile@1x.jpg") no-repeat center;
  text-align: center;
}

.offer__icon {
  width: 56px;
  height: 51px;
  fill: @secondary-color;
}

.offer__text {
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  padding: 10px;
}
