.page-footer {
  text-align: center;
  background-color: @secondary-background;
}

.page-footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-img {
  padding-bottom: 30px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
}
