.page-main__intro {
  min-height: 480px;
  margin-bottom: 22px;
  text-align: center;
}

.page-main__programs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.page-main__about-product {
  margin: 0 auto;
  margin-bottom: 42px;
}

.page-main__catalog {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-top: 1px solid #ededed;
}

.page-main__add-catalog {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.page-main__form {
  width: 320px;
  margin: 0 auto;
}

.page-main__form-text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 20px;
  width: 240px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.page-main__form-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 20px;
  font-size: 36px;
  line-height: 1.6;
  font-weight: normal;
  font-family: @main-font;
}

@media (min-width: @tablet-width) {
  .page-main__intro {
    min-height: 800px;
    text-align: left;
  }

  .page-main__programs {
    width: 708px;
    margin: 0 auto;
  }

  .page-main__example {
    width: 768px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-main__intro {
    min-height: 557px;
    text-align: left;
  }

  .page-main__programs {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .page-main__about-product {
    margin: 0 auto;
  }
}
