.page-main__intro {
  margin-bottom: 22px;
  text-align: center;
}

.page-main__programs {
  margin-bottom: 32px;
}

.page-main__about-product {
  margin-bottom: 42px;
}

.page-main__catalog {
  margin-bottom: 30px;
  border-top: 1px solid #ededed;
}

.page-main__example {
  padding: 33px 20px 38px 20px;
}
