.page-main__intro {
  margin-bottom: 22px;
  text-align: center;
}

.page-main__programs {
  margin-bottom: 32px;
}

.page-main__about-product {
  margin-bottom: 42px;
}

.page-main__catalog {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-top: 1px solid #ededed;
}

.page-main__add-catalog {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.page-main__example {
  padding: 33px 20px 38px 20px;
}

.page-main__form {
  width: 320px;
  margin: 0 auto;
}

.page-main__form-text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 20px;
  width: 240px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.page-main__form-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 20px;
  font-size: 36px;
  line-height: 1.6;
  font-weight: normal;
  font-family: @main-font;
}
