.programs__article {
  position: relative;
  padding-top: 22px;
  padding-right: 33px;
  padding-bottom: 22px;
  margin-bottom: 20px;
  background-color: @secondary-background;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: @icon-background;
    border-radius: 50%;
  }

  &--cat-slim {
    &::after {
      content: " ";
      position: absolute;
      top: 25px;
      left: 30px;
      width: 35px;
      height: 49px;
      background: url("../../img/icon-cat-slim.svg") no-repeat center;
    }
  }

  &--cat-pro {
    &::after {
      content: " ";
      position: absolute;
      top: 35px;
      left: 10px;
      width: 67px;
      height: 28px;
      background: url("../../img/icon-cat-pro.svg") no-repeat center;
    }
  }
}

.programs__title {
  margin: 0;
  padding-top: 5px;
  padding-left: 92px;
  padding-bottom: 28px;
  font-size: 24px;
  line-height: 1.5;
}

.programs__text {
  margin: 0;
  padding-left: 21px;
  padding-bottom: 23px;
  font-family: @secondary-font;
  color: @content-color;
}

.programs__link {
  padding-left: 21px;
  padding-right: 50px;
  font-size: 16px;
  line-height: 1;
  color: @main-color;
  text-decoration: none;
  text-transform: uppercase;
  background: url("../../img/icon-right-arrow-long.svg") no-repeat;
  background-size: 25px 12px;
  background-position: 115px;

  &:hover {
    background: url("../../img/icon-right-arrow-verylong.svg") no-repeat;
    background-size: 34px 12px;
    background-position: 115px;
  }

  &:active {
    opacity: 0.3;
  }
}
