.slider {
  width: 320px;
  margin: 0 auto;
  padding-top: 23px;
  display: flex;
  flex-direction: column;
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
}

.slider__images {
  position: relative;
  min-height: 272px;
  display: flex;
  flex-direction: column;
}

.slider__img {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;

  &--after {
    display: none;
  }
}

.slider__button {
  display: block;
  width: 41px;
  min-height: 15px;
  padding: 1px 0 0 0;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.slider__bar {
  width: 84px;
  height: 14px;
  padding: 3px 6px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: @main-background;
}

.slider__progress {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @btn-default-background;
}

@media (min-width: @tablet-width) {
  .slider {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    min-height: 462px;
    background-color: @secondary-background;
  }

  .slider__container {
    width: 768px;
    margin: 0 auto;
  }

  .slider__images {
    width: 730px;
    margin: 0 auto;
    margin-bottom: 95px;
  }

  .slider__img {
    position: absolute;
    bottom: -110px;
    left: 18px;
    min-height: 500px;
    display: block;

    &--before {
      clip: rect(auto, 337px, auto, auto);
    }

    &--after {
      clip: rect(auto, auto, auto, 337px);
    }
  }

  .slider__button {
    padding-bottom: 6px;
    width: 50px;
    min-height: 18px;
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted #00000023;

    &:hover {
      border-bottom: 1px solid #111111;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }

    &:hover + .slider__bar .slider__progress {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active + .slider__bar .slider__progress {
      border: 2px solid @icon-background;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .slider__bar {
    position: relative;
    width: 428px;
    height: 5px;
    padding: 0;
    border-radius: 3px;
    background-color: #cdcdcd;
  }

  .slider__progress {
    position: absolute;
    bottom: -13px;
    left: 198px;
    width: 33px;
    height: 32px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: @main-background;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 11px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: @icon-background;
    }
  }

  .slider__controls {
    width: 585px;
    padding-left: 5px;
    padding-right: 10px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: 700px;
    padding: 0;
    background-color: transparent;
  }

  .slider__img {
    bottom: -364px;
    left: 0;

    &--before {
      clip: rect(auto, 364px, auto, auto);
    }

    &--after {
      clip: rect(auto, auto, auto, 364px);
    }
  }


  .slider__images {
    width: 700px;
    min-height: 172px;
    background: @main-background;
    margin-bottom: 370px;
  }

  .slider__controls {
    width: 610px;
    padding-left: 30px;
    margin-bottom: 70px;
  }

  .slider__progress {
    left: 199px;
  }
}
