.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
}

.slider__img {
  padding-bottom: 35px;
}

.slider__button {
  background-color: transparent;
  width: 36px;
  height: 15px;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  text-transform: uppercase;
}

.slider__bar {
  width: 84px;
  height: 14px;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: #cdcdcd;
}

.slider__progress {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @btn-default-background;
}
