.social-list {
  list-style-type: none;
}

.social-list__icon--fb {
  width: 10px;
  height: 19px;
}

.social-list__icon--instagram {
  width: 17px;
  height: 17px;
}

.social-list__icon--vk {
  width: 22px;
  height: 12px;
}
