.social-list {
  margin: 0 auto;
  padding: 12px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.social-list__icon {
  fill: @social-icon-color;

  &:hover {
    fill: @social-icon-hover;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.social-list__link {
  display: block;
  padding: 12px;
}

.social-list__item {
  margin-left: 16px;
}

.social-list__item--fb .social-list__icon {
  width: 10px;
  height: 19px;
}

.social-list__item--instagram .social-list__icon {
  width: 17px;
  height: 17px;
}

.social-list__item--vk .social-list__icon {
  width: 22px;
  height: 12px;
}

@media (min-width: @tablet-width) {
  .social-list {
    width: 130px;
    margin: 0;
    padding: 0 60px;
    border: none;
  }

  .social-list__link {
    display: block;
    padding: 0 18px;
  }
}
