//fonts
@main-font: "Oswald", "Arial", sans-serif;
@secondary-font: "Arial", sans-serif;

//font colors
@main-color: #111111;
@secondary-color: #ffffff;
@content-color: #444444;
@btn-active-color:rgba(255, 255, 255, 0.3);
@btn-secondary-active-color: rgba(68, 68, 68, 0.3);
@nav-link-hover: rgba(17, 17, 17, 0.6);
@nav-link-active: rgba(155, 55, 55, 0.3);
@social-icon-color: #666666;
@social-icon-hover: #63a73a;

//backgrounds
@main-background: #ffffff;
@secondary-background: #f2f2f2;
@intro-background: #65a93c;
@icon-background:#68b738;
@btn-default-background: #68b738;
@btn-interaction-background: #5eaa2f;
@btn-secondary-interaction-background: #ebebeb;
@form-input-error: #ff8282;

//width
@tablet-width: 768px;
@desktop-width: 1300px;
